@import url("https://fonts.googleapis.com/css?family=Limelight|Raleway");
@media only screen and (max-width: 767px) {
  body {
    padding: 0.5rem 0.5rem;
    background-color: #6767eb;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#8a65ee), color-stop(#0a2e4b), to(black));
    background: linear-gradient(white, #8a65ee, #0a2e4b, black);
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  img {
    width: 150px;
    height: 150px;
    margin: 10px 10px;
  }
  .links {
    margin-bottom: 10px;
    opacity: .85;
    -webkit-transition: 3s;
    transition: 3s;
    border-radius: 5px;
  }
  #top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    padding: 2rem;
  }
  #top #logo {
    width: 200px;
    height: 200px;
    -webkit-transition: all 2s;
    transition: all 2s;
    padding: 0.5px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #top #logo:hover {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    width: 100px;
    background-color: #ec1fd1;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    -webkit-transition: 1s;
    transition: 1s;
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 2rem 2rem;
    background-color: #6767eb;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#8a65ee), color-stop(#0a2e4b), to(black));
    background: linear-gradient(white, #8a65ee, #0a2e4b, black);
    position: relative;
  }
  img {
    width: 200px;
    height: 200px;
    margin: 10px 10px;
  }
  .links {
    margin-bottom: 20px;
    opacity: .85;
    -webkit-transition: 3s;
    transition: 3s;
    border-radius: 5px;
  }
  nav a {
    display: inline-block;
    color: black;
    width: 100px;
    background-color: #ec1fd1;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #logo {
    width: 200px;
    height: 200px;
    -webkit-transition: all 2s;
    transition: all 2s;
    padding: 1.5rem;
  }
  #logo:hover {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  #top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: inherit;
  }
  header {
    padding: 3px 3px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 2rem;
    display: block;
  }
}

#skills,
#work,
#contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills,
#paragraphs,
#work,
header,
#about,
#interests,
#gallery {
  background-color: #326ff1;
  font-family: 'Raleway', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link {
  height: 75px;
  width: 75px;
  padding: 20px 20px;
}

section {
  padding: 1rem 1rem;
  display: inline-block;
}

#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #326ff1;
}

#contact {
  background-color: #326ff1;
  font-family: 'Raleway', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav a:hover {
  background-color: #326ff1;
}
/*# sourceMappingURL=style.css.map */